body{
  margin:0;
  overflow:hidden;
  background:#0e1a12;
  font-family:Arial;
}

canvas{
  display:block;
}

#ui{
  position:fixed;
  top:0;
  width:100%;
  background:rgba(0,0,0,0.5);
  color:white;
  padding:8px;
}

/* XP BAR */
#xpContainer{
  position:fixed;
  top:40px;
  left:10px;
  width:200px;
  height:10px;
  background:#333;
  border-radius:10px;
}

#xpBar{
  height:100%;
  width:0%;
  background:lime;
  border-radius:10px;
  transition:0.3s;
}

#menu{
  position:fixed;
  bottom:0;
  width:100%;
  display:flex;
  justify-content:space-around;
  background:rgba(0,0,0,0.6);
}
